* {
    main-bg:            #1F1F1FE6;
    main-fg:            #5782B2;
    main-br:            #233D5D;
    main-ex:            #34414E;
    select-bg:          #257599;
    select-fg:          #0000FF;
}
